* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

img {
    width: 120px;
    height: 120px;
}

main {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.circle {
    border-radius: 50%;
}

.cat {
    border: 5px solid #25fc09;
}

.camel {
    border: 5px solid #c9bf07;
}

.horse {
    border: 5px solid #ee0b0b;
    align-self: flex-end;
}