/**Inicialização Padrão**/
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/**Personalização do corpo**/
body {
    background-color: black;
}

.menu {
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: red;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

nav {
    padding: 10px;
}

.conteudo {
    text-align: center;
}

.conteudo a {
    text-decoration: none;
    color: white;
}

/**Alterações de Cores**/
h1 {
    color: white;
}

h2 {
    color: white;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
}

a:hover {
    color: white;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-color: rgb(255, 0, 0);
}

/**Google Fontes**/
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.nunito-uniquifier {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 444;
  font-style: normal;
}

.handjet-uniquifier {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}